{% macro view_button(ticket_id) %}
    <button 
        type="button" 
        class="btn button-secondary" 
        style="align-self: flex-start;" 
        onclick="window.location.href='{{ url_for('view', ticket_id=ticket_id) }}'"
        >
        View
    </button>
{% endmacro %}

{% macro delete_button(ticket_id) %}
    <button 
        type="button" 
        class="btn button-tertiary" 
        style="align-self: flex-start;" 
        onclick="window.location.href='{{ url_for('delete', ticket_id=ticket_id) }}'"
        >
        Delete
    </button>
{% endmacro %}

{% macro promote_user_button(ticket_id) %}
    <button 
        type="button" 
        class="btn button-primary" 
        style="align-self: flex-start;" 
        onclick="window.location.href='{{ url_for('promote', user_account_id=user_account_id) }}'"
        >
        Promote
    </button>
{% endmacro %}

{% macro delete_user_button(ticket_id) %}
    <button 
        type="button" 
        class="btn button-tertiary" 
        style="align-self: flex-start;" 
        onclick="window.location.href='{{ url_for('delete_user', user_account_id=user_account_id) }}'"
        >
        Delete
    </button>
{% endmacro %}