{% import 'macros/buttons.html' as buttons %}

{% extends base_template %}

{% block content %}
    <body>

        <div style="display: flex; justify-content: flex-end;">
            <button type="button" class="btn button-secondary"
                onclick="window.location.href='{{ url_for('create') }}'">
                Create a new ticket
            </button>
        </div>

        
        <div>
            <h2>Recent Tickets</h2>
            {%if tickets %}
            <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Ticket ID</th>
                <th scope="col">Date Created</th>
                <th scope="col">Category</th>
                <th scope="col">Overview</th>
                <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                <tr>
                <th scope="row">{{ ticket.ticket_id }}</th>
                <td>{{ ticket.created_date }}</td>
                <td>{{ ticket.issue_type.value }}</td>
                <td>{{ ticket.ticket_summary }}</td>
                <td>{{ ticket.status.value }}</td>
                <td>{{ buttons.view_button(ticket.ticket_id) }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
        {% else %}
        <h2>No recent tickets found.</h2>
        {% endif %}

    </body>
{% endblock %}