{% import 'macros/buttons.html' as buttons %}

{% extends base_template %}

{% block content %}
    <body>

        <div>
            <div style="display: flex; justify-content: space-between; align-items: top;">

                <!-- Summary table -->
                <div style=" gap: 5vw; align-items: center;">
                    <h2>Summary</h2>
                    <div>
                        <table class="table table-striped">
                        <thead>
                            <tr style="text-align: center">
                            <th scope="col">Open</th>
                            <th scope="col">In Progress</th>
                            <th scope="col">Closed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="text-align: center">
                            <th scope="row">{{ open_tickets }}</th>
                            <td>{{ in_progress_tickets }}</td>
                            <td>{{ closed_tickets }}</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>

                <!-- Create ticket button -->
                <button type="button" class="btn button-secondary" style="align-self: flex-start;" onclick="window.location.href='{{ url_for('create') }}'">
                    Create a new ticket
                </button>

            </div>
        </div>
        
        <div>
            <h2>Recent Tickets</h2>
            <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Ticket ID</th>
                <th scope="col">Date Created</th>
                <th scope="col">Category</th>
                <th scope="col">Overview</th>
                <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                <tr>
                <th scope="row">{{ ticket.ticket_id }}</th>
                <td>{{ ticket.created_date }}</td>
                <td>{{ ticket.issue_type.value }}</td>
                <td>{{ ticket.ticket_summary }}</td>
                <td>{{ ticket.status.value }}</td>
                <td>{{ buttons.view_button(ticket.ticket_id) }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
        </div>
    </body>
{% endblock %}