{% extends base_template %}

{% block content %}
    <h2>Open Tickets</h2>
    <table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">Ticket ID</th>
        <th scope="col">Date Created</th>
        <th scope="col">Category</th>
        <th scope="col">Overview</th>
        <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for ticket in tickets %}
        <tr>
        <th scope="row">{{ ticket.ticket_id }}</th>
        <td>{{ ticket.created_date }}</td>
        <td>{{ ticket.issue_type.value }}</td>
        <td>{{ ticket.ticket_summary }}</td>
        <td>{{ ticket.status.value }}</td>
        <td>
            <button type="button" class="btn button-secondary" style="align-self: flex-start;" onclick="window.location.href='{{ url_for('view') }}'">
                View
            </button>
        </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}